<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Área do Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="container" style="height:92vh" [style.background]="backgroundColor">
   
    <!--  
      https://ionicframework.com/docs/api/avatar
      eu n sou uma i.a
    -->
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h1>Olá, {{userName}}!</h1>
    <p></p>
  </div>
</ion-content>