<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Área do Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.background]="backgroundColor">
  <div class="container">
    <h1>Olá, {{userName}}!</h1>
    <p>Sua página estará pronta após definir as configurações</p>
  </div>
</ion-content>