<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Área do Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="backgroundColor">
  <div class="container" style="height:92vh; margin-top:50px;background-color:transparent">
   
    <!--  
      https://ionicframework.com/docs/api/avatar
      eu n sou uma i.a
    -->
    <ion-avatar class="text-align-center margin-auto" style="margin:auto">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h1>Olá, {{ userName }}!</h1>
    <p></p>
  </div>
</ion-content>